<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Untitled Document</title>
</head>

<body>
<table width="700" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="175"><a href="http://twyst.in/home/"><img src="https://s3-us-west-2.amazonaws.com/twyst-welcometemplate/appupgrade_01.jpg" alt="Twyst.in" width="175" height="69" /></a></td>
    <td width="426" style="font-family:Arial, Helvetica, sans-serif; font-size:11px; color: #999999; text-align:right; padding-right:10px;">Unable to see this message? Click here to view</td>
  </tr>
  <tr>
    <td colspan="2"><img src="https://s3-us-west-2.amazonaws.com/twyst-welcometemplate/appupgrade_04.jpg" width="700" height="1" /></td>
  </tr>
</table>
<table width="700" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color: #666666; text-align:left; line-height:25px; padding:5px">Hi, welcome to Twyst!<br />
We’re here to help you get more out of eating out (or ordering in)! Now
     discover a world of awesome offers and unlock exclusive rewards at Delhi NCR’s top restaurants, cafes, pubs and bakeries.</td>
  </tr>
  <tr>
    <td style="font-family:Arial, Helvetica, sans-serif; font-size:16px; color: #333333; text-align:center; font-weight:bold; padding:5px;">GET THE TWYST APP NOW!</td>
  </tr>
  <tr>
    <td style="font-family:Arial, Helvetica, sans-serif; font-size:16px; color: #333333; text-align:center; font-weight:bold;"><img src="https://s3-us-west-2.amazonaws.com/twyst-welcometemplate/appdownload.jpg" alt="Twyst App Download" width="700" height="73" usemap="#map_appdownload" border="0" /></td>
  </tr>
  <tr>
    <td style="font-family:Arial, Helvetica, sans-serif; font-size:11px; color: #888888; text-align:left; padding:5px;">*If you don’t have an iPhone or Android phone, you can still sign-in on<a href="http://www.twyst.in/" style="color:#0066ff;"> twyst.in</a> to see and use your rewards.</td>
  </tr>
</table>
<table width="700" border="0" cellspacing="0" cellpadding="0" >
  <tr>
    <td><img src="https://s3-us-west-2.amazonaws.com/twyst-welcometemplate/welcomemailer_fbsignin_22.jpg" width="700" height="4" /></td>
  </tr>
</table>
<table width="700" border="0" cellspacing="0" cellpadding="0"background="https://s3-us-west-2.amazonaws.com/twyst-welcometemplate/appupgrade_09.jpg" >
  <tr>
    <td width="570" height="56px" style="font-family:Arial, Helvetica, sans-serif; font-size:16px; color: #FFFFFF; text-align:left; font-weight:bold; padding-left:10px">DO MORE ON TWYST</td>
    <td width="130">&nbsp;</td>
  </tr>
</table>
<table width="709" border="0" cellspacing="0" cellpadding="5px">
  <tr>
    <td width="699"><table width="690" border="0" cellspacing="5px" cellpadding="0">
      <tr>
        <td width="49"><img src="https://s3-us-west-2.amazonaws.com/twyst-welcometemplate/mailer1_18.jpg" width="38" height="38" /></td>
        <td width="296" style=" font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#777777; padding:5px;">check-in &amp; redeem rewards</td>
        <td width="49"><img src="https://s3-us-west-2.amazonaws.com/twyst-welcometemplate/mailer1_20.jpg" width="38" height="38" /></td>
        <td width="256" style=" font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#777777; padding:5px;">follow your favourite outlets</td>
      </tr>
      <tr>
        <td><img src="https://s3-us-west-2.amazonaws.com/twyst-welcometemplate/mailer1_24.jpg" width="38" height="38" /></td>
        <td style=" font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#777777; padding:5px;">discover more rewards</td>
        <td><img src="https://s3-us-west-2.amazonaws.com/twyst-welcometemplate/mailer1_25.jpg" width="38" height="38" /></td>
        <td style=" font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#777777; padding:5px;">gift rewards to friends </td>
      </tr>
      <tr>
        <td><img src="https://s3-us-west-2.amazonaws.com/twyst-welcometemplate/mailer1_28.jpg" width="38" height="38" /></td>
        <td style=" font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#777777; padding:5px;">send private feedback to outlets</td>
        <td><img src="https://s3-us-west-2.amazonaws.com/twyst-welcometemplate/mailer1_29.jpg" width="38" height="38" /></td>
        <td style=" font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#777777; padding:5px;">share outlets with friends</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td colspan="2"><img src="https://s3-us-west-2.amazonaws.com/twyst-welcometemplate/welcomemailer_fbsignin_22.jpg" width="700" height="4" /></td>
  </tr>
</table>
<table width="700" border="0" cellspacing="0" cellpadding="0"background="https://s3-us-west-2.amazonaws.com/twyst-welcometemplate/appupgrade_09.jpg" >
  <tr>
    <td width="570" height="56px" style="font-family:Arial, Helvetica, sans-serif; font-size:16px; color: #FFFFFF; text-align:left; font-weight:bold; padding-left:10px">POPULAR OUTLETS ON TWYST</td>
    <td width="130"><a href="http://twyst.in/discover/"><img src="https://s3-us-west-2.amazonaws.com/twyst-welcometemplate/welcomemailer_fbsignin_06.jpg" alt="View all on Twyst" width="120" height="32" /></a></td>
  </tr>
</table>
<table width="700" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td></tr></td>
  </tr>
  <tr>
    <td  align="center"><img src="https://s3-us-west-2.amazonaws.com/twyst-welcometemplate/welcomemailer_fbsignin_22.jpg" width="700" height="6" /></td>
  </tr>
  <tr>
    <td height="56px" align="center"><img src="https://s3-us-west-2.amazonaws.com/twyst-welcometemplate/welcomemailer_fbsignin_09.jpg" alt="Biriyani Outlets on Twyst" width="700" height="98" usemap="#Map_Biriyani" border="0" /></td>
  </tr>
  <tr>
    <td align="center"><img src="https://s3-us-west-2.amazonaws.com/twyst-welcometemplate/welcomemailer_fbsignin_22.jpg" width="700" height="6" /></td>
  </tr>
  <tr>
    <td height="56px" align="center"><img src="https://s3-us-west-2.amazonaws.com/twyst-welcometemplate/welcomemailer_fbsignin_11.jpg" alt="Pizza Outlets on Twyst" width="700" height="98" usemap="#Map_pizza" border="0" /></td>
  </tr>
  <tr>
    <td align="center"><img src="https://s3-us-west-2.amazonaws.com/twyst-welcometemplate/welcomemailer_fbsignin_22.jpg" width="700" height="6" /></td>
  </tr>
  <tr>
    <td height="56px" align="center"><img src="https://s3-us-west-2.amazonaws.com/twyst-welcometemplate/welcomemailer_fbsignin_13.jpg" alt="Beer Outlets on Twyst" width="700" height="98" usemap="#Map_Beer" border="0" /></td>
  </tr>
  <tr>
    <td  align="center"><img src="https://s3-us-west-2.amazonaws.com/twyst-welcometemplate/welcomemailer_fbsignin_22.jpg" width="700" height="6" /></td>
  </tr>
  <tr>
    <td height="56px" align="center"><img src="https://s3-us-west-2.amazonaws.com/twyst-welcometemplate/welcomemailer_fbsignin_15.jpg" alt="Home Delivery outlets on Twyst" width="700" height="98" usemap="#Map_HDout" border="0" /></td>
  </tr>
 
  <tr>
    <td align="center" bgcolor="#ED1B24" style="font-family:Arial, Helvetica, sans-serif; font-size:14px; text-align:left; padding:5px; line-height:15px;"><a href="http://twyst.in/discover/" target="_blank" style="color:#FFF;">And many more &gt;&gt;</a></td>
  </tr>
  <tr>
    <td align="center"><img src="https://s3-us-west-2.amazonaws.com/twyst-welcometemplate/appupgrade_04.jpg" width="700" height="1" /></td>
  </tr>
  
</table>
<table width="700" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color: #666666; text-align:left; padding:5px; line-height:25px;"><p>Questions, cribs, suggestions? Write to us at <a href="mailto:support@twyst.in">support@twyst.in</a></p>
      <p>Happy Twyst-ing!<br />
        <strong>TEAM TWYST</strong></p></td>
  </tr>
</table>

<map name="map_appdownload" id="map_appdownload">
  <area shape="rect" coords="141,6,332,68" href="{{link}}" target="_blank" alt="Twyst Android App Download" />
  <area shape="rect" coords="338,8,562,68" href="{{link}}" target="_blank" alt="Twyst iPhone App Download" />
</map>

<map name="Map_Biriyani" id="Map_Biriyani">
  <area shape="rect" coords="233,3,331,94" href="http://twyst.in/ncr/andhra-biryani-house-sapphire-malls-gurgaon#/" target="_blank" alt="Andhra Biryani House" />
  <area shape="rect" coords="397,4,498,90" href="http://twyst.in/ncr/biryani-blues-supermart-1-gurgaon#/" target="_blank" alt="Biryani Blues" />
  <area shape="rect" coords="532,5,692,88" href="http://twyst.in/ncr/rumis-kitchen-dlf-phase-1-gurgaon" target="_blank" alt="Rumi's" />
</map>

<map name="Map_pizza" id="Map_pizza">
  <area shape="rect" coords="10,5,162,96" href="http://twyst.in/ncr/fat-lulus-cafe-bar-cross-point-mall-gurgaon#/" target="_blank" alt="Fat Lulus" />
  <area shape="rect" coords="187,4,299,93" href="http://twyst.in/ncr/new-york-slice-hauz-khas-village-delhi#/" target="_blank" alt="New York Slice" />
  <area shape="rect" coords="315,9,480,84" href="http://twyst.in/ncr/crusty-gourmet-pizza-more-baani-square-gurgaon#/" target="_blank" alt="Crusty Pizza" />
</map>

<map name="Map_Beer" id="Map_Beer">
  <area shape="rect" coords="223,3,321,100" href="http://twyst.in/ncr/7-degrees-brauhaus-south-point-mall-gurgaon#/" target="_blank" alt="7 Degree Brauhaus" />
  <area shape="rect" coords="380,13,539,89" href="http://twyst.in/ncr/brewer-street-ild-trade-centre-gurgaon#/" target="_blank" alt="Brewer Street" />
  <area shape="rect" coords="583,8,698,94" href="http://twyst.in/ncr/striker-pub-kitchen-ambience-mall-vk-delhi#/" target="_blank" alt="Striker" />
</map>

<map name="Map_HDout" id="Map_HDout">
  <area shape="rect" coords="41,2,123,98" href="http://twyst.in/ncr/captain-bill-deliverz-golf-course-road-gurgaon#/" target="_blank" alt="Captain Bills" />
  <area shape="rect" coords="185,5,313,87" href="http://twyst.in/ncr/captain-grub-dlf-phase-1-gurgaon#/" target="_blank" alt="Captain Grub" />
  <area shape="rect" coords="365,6,486,92" href="http://twyst.in/ncr/leaping-caravan-dlf-phase-4-gurgaon#/" target="_blank" alt="Leaping Caravan" />
</map>
</body>
</html>
