

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>Twyst feedback Email</title>
</head>
<body>
<table width="700" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="175"><a href="http://twyst.in/home/"><img src="https://s3-us-west-2.amazonaws.com/twyst-welcometemplate/appupgrade_01.jpg" alt="Twyst.in" width="175" height="69" /></a></td>
    <td width="426" style="font-family:Arial, Helvetica, sans-serif; font-size:11px; color: #999999; text-align:right; padding-right:10px;">Unable to see this message? Click here to view</td>
  </tr>
  <tr>
    <td colspan="2"><img src="https://s3-us-west-2.amazonaws.com/twyst-welcometemplate/appupgrade_04.jpg" width="700" height="1" /></td>
  </tr>
</table>
<table width="700" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td ><a href="http://twyst.in/home/"><img src="https://s3-us-west-2.amazonaws.com/twyst-welcometemplate/mailer1_02.jpg" alt="Get more out of eating out!" width="699" height="104" /></a></td>  
  <tr>
    <td style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color: #666666; text-align:left; line-height:25px; padding:5px"><p>Welcome to Twyst! We are excited to have you on board!<br />
    Now discover a world of awesome offers and unlock exclusive rewards at Delhi NCR's top restaurants, cafes, pubs and bakeries.</p></td>
  </tr>
  </table>
<table width="700" border="0" cellspacing="0" cellpadding="0">
    <tr>
    <td ><img src="https://s3-us-west-2.amazonaws.com/twyst-welcometemplate/welcomemailer_fbsignin_22.jpg" width="700" height="4" /></td>
  </tr></table>
<table width="700" border="0" cellspacing="0" cellpadding="0"background="https://s3-us-west-2.amazonaws.com/twyst-welcometemplate/appupgrade_09.jpg" >
  <tr>
    <td width="570" height="56px" style="font-family:Arial, Helvetica, sans-serif; font-size:16px; color: #FFFFFF; text-align:left; font-weight:bold; padding-left:10px">POPULAR OUTLETS ON TWYST</td>
    <td width="130"><a href="http://twyst.in/discover/"><img src="https://s3-us-west-2.amazonaws.com/twyst-welcometemplate/welcomemailer_fbsignin_06.jpg" alt="View all on Twyst" width="120" height="32" /></a></td>
  </tr>
</table>
<table width="700" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td></td></td>
  </tr>
  <tr>
    <td  align="center"><img src="https://s3-us-west-2.amazonaws.com/twyst-welcometemplate/welcomemailer_fbsignin_22.jpg" width="700" height="6" /></td>
  </tr>
  <tr>
    <td height="56px" align="center"><img src="https://s3-us-west-2.amazonaws.com/twyst-welcometemplate/welcome_cafe.jpg" alt="Cafe &amp; small bites outlets on Twyst" width="700" height="98" usemap="#Map_cafe" border="0" /></td>
  </tr>
  <tr>
    <td align="center"><img src="https://s3-us-west-2.amazonaws.com/twyst-welcometemplate/welcomemailer_fbsignin_22.jpg" width="700" height="6" /></td>
  </tr>
  <tr>
    <td height="56px" align="center"><img src="https://s3-us-west-2.amazonaws.com/twyst-welcometemplate/welcomemailer_2_11.jpg" alt="Cocktail outlets on Twyst" width="700" height="98" usemap="#Map_cocktail" border="0" /></td>
  </tr>
  <tr>
    <td align="center"><img src="https://s3-us-west-2.amazonaws.com/twyst-welcometemplate/welcomemailer_fbsignin_22.jpg" width="700" height="6" /></td>
  </tr>
  <tr>
    <td height="56px" align="center"><img src="https://s3-us-west-2.amazonaws.com/twyst-welcometemplate/welcomemailer_2_13.jpg" alt="Dining outlets on Twyst" width="700" height="98" usemap="#Map_Dining" border="0" /></td>
  </tr>
  <tr>
    <td  align="center"><img src="https://s3-us-west-2.amazonaws.com/twyst-welcometemplate/welcomemailer_fbsignin_22.jpg" width="700" height="6" /></td>
  </tr>
  <tr>
    <td height="56px" align="center"><img src="https://s3-us-west-2.amazonaws.com/twyst-welcometemplate/welcome_desserts.jpg" alt="Desserts outlet on Twyst" width="700" height="98" usemap="#Map_Dessert" border="0" /></td>
  </tr>
  <tr>
    <td align="center" bgcolor="#ED1B24" style="font-family:Arial, Helvetica, sans-serif; font-size:14px; text-align:left; padding:5px; line-height:15px;"><a href="http://twyst.in/discover/" target="_blank" style="color:#FFF;">And many more &gt;&gt;</a></td>
  </tr>
  <tr>
    <td align="center"><img src="https://s3-us-west-2.amazonaws.com/twyst-welcometemplate/appupgrade_04.jpg" width="700" height="1" /></td>
  </tr>
</table>
<map name="Map_cafe" id="Map_cafe">
  <area shape="rect" coords="238,4,336,95" href="http://twyst.in/ncr/coffee-chai-co-south-point-mall-gurgaon#/" target="_blank" alt="Coffee &amp; Chai Co" />
  <area shape="rect" coords="381,5,505,90" href="http://twyst.in/ncr/joint-cafe-dlf-galleria-gurgaon#/" target="_blank" alt="Joint Cafe" />
  <area shape="rect" coords="557,7,666,94" href="http://twyst.in/ncr/madison-pike-nirvana-country-gurgaon#/" target="_blank" alt="Madison &amp; Pike" />
</map>
<map name="Map_cocktail" id="Map_cocktail">
  <area shape="rect" coords="26,11,128,86" href="http://twyst.in/ncr/blues-connaught-place-delhi#/" target="_blank" alt="Blues" />
  <area shape="rect" coords="172,2,308,93" href="http://twyst.in/ncr/cocktails-and-dreams-speakeasy-sector-15-gurgaon#/" target="_blank" alt="Speakeasy" />
  <area shape="rect" coords="326,9,491,84" href="http://twyst.in/ncr/london-brick-club-road-delhi#/" target="_blank" alt="London Brick" />
</map>
<map name="Map_Dining" id="Map_Dining">
  <area shape="rect" coords="216,17,378,76" href="http://twyst.in/ncr/bernardos-supermart-1-gurgaon#/" target="_blank" alt="Bernardo's" />
  <area shape="rect" coords="387,17,528,74" href="http://twyst.in/ncr/canton-spice-company-club-road-delhi#/" target="_blank" alt="Canton Spice" />
  <area shape="rect" coords="530,16,683,81" href="http://twyst.in/ncr/mistral-ambience-mall-delhi#/" target="_blank" alt="Mistral" />
</map>
<map name="Map_Dessert" id="Map_Dessert">
  <area shape="rect" coords="40,-3,122,93" href="http://twyst.in/ncr/the-cupncake-factory-ninex-city-mart-gurgaon#/" target="_blank" alt="The CupnCake Factory" />
  <area shape="rect" coords="164,7,253,87" href="http://twyst.in/ncr/sucre-patisserie-sector-46-gurgaon#/" target="_blank" alt="Sucre" />
  <area shape="rect" coords="318,9,473,80" href="http://twyst.in/ncr/cherry-comet-cyberhub-gurgaon#/" target="_blank" alt="Cherry Comet" />
</map>
<table width="700" border="0" cellspacing="0" cellpadding="0" height="5px" >
  <tr>
    <td><img src="https://s3-us-west-2.amazonaws.com/twyst-welcometemplate/welcomemailer_fbsignin_22.jpg" width="38" height="4" /></td>
  </tr>
</table>
  <table width="700" border="0" cellspacing="0" cellpadding="0"background="https://s3-us-west-2.amazonaws.com/twyst-welcometemplate/appupgrade_09.jpg" >
  <tr>
    <td width="570" height="56px" style="font-family:Arial, Helvetica, sans-serif; font-size:16px; color: #FFFFFF; text-align:left; font-weight:bold; padding-left:10px">DO MORE ON TWYST</td>
    <td width="130">&nbsp;</td>
  </tr>
  </table>
  <table width="709" border="0" cellspacing="0" cellpadding="5px">
    <tr>
      <td width="699"><table width="690" border="0" cellspacing="5px" cellpadding="0">
        <tr>
          <td width="49"><img src="https://s3-us-west-2.amazonaws.com/twyst-welcometemplate/mailer1_18.jpg" width="38" height="38" /></td>
          <td width="296" style=" font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#777777; padding:5px;">check-in &amp; redeem rewards</td>
          <td width="49"><img src="https://s3-us-west-2.amazonaws.com/twyst-welcometemplate/mailer1_20.jpg" width="38" height="38" /></td>
          <td width="256" style=" font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#777777; padding:5px;">follow your favourite outlets</td>
        </tr>
        <tr>
          <td><img src="https://s3-us-west-2.amazonaws.com/twyst-welcometemplate/mailer1_24.jpg" width="38" height="38" /></td>
          <td style=" font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#777777; padding:5px;">discover more rewards</td>
          <td><img src="https://s3-us-west-2.amazonaws.com/twyst-welcometemplate/mailer1_25.jpg" width="38" height="38" /></td>
          <td style=" font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#777777; padding:5px;">gift rewards to friends </td>
        </tr>
        <tr>
          <td><img src="https://s3-us-west-2.amazonaws.com/twyst-welcometemplate/mailer1_28.jpg" width="38" height="38" /></td>
          <td style=" font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#777777; padding:5px;">send private feedback to outlets</td>
          <td><img src="https://s3-us-west-2.amazonaws.com/twyst-welcometemplate/mailer1_29.jpg" width="38" height="38" /></td>
          <td style=" font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#777777; padding:5px;">share outlets with friends</td>
        </tr>
      </table></td>
    </tr>
    <tr>
      <td colspan="2"><img src="https://s3-us-west-2.amazonaws.com/twyst-welcometemplate/welcomemailer_fbsignin_22.jpg" width="700" height="4" /></td>
    </tr>
  </table>
  <table width="700" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color: #666666; text-align:left; padding:5px; line-height:25px;"><p>Questions, cribs, suggestions? write to us at <a href="mailto:support@twyst.in">support@twyst.in</a></p>
      <p>Happy Twyst-ing!<br />
      <strong>TEAM TWYST</strong></p></td>
  </tr>
</table>
</body>
</html>
