<!DOCTYPE html>
<html lang="en">
   <head>
      <!--CSS files-->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
   </head>
   <body>
      <div class="container">
        <div class="row background-twyst">
          <div class="col-md-8 col-xs-6">
               <img src="http://www.twyst.in/common/images/logo.png" class="logo" />
            </div>
          <div class="col-md-4 col-xs-6 feedback">
            <span class="feedback-font">Customer Feedback</span>
          </div>
        </div>
         <div class="row">
            &nbsp;
         </div>
         <div class="row">
            <div class="col-md-12">
               <span class="greeting"><b>Hi Rahul,</b></span>
            </div>
            <div class="col-md-12">
               &nbsp;
            </div>
            <div class="col-md-12 feedback-text">
               You have new feedback for your outlet <span class="twyst-orange">Biryani Blues, Supermart 1</span>.
            </div>
            <div class="col-md-12">
               &nbsp;
            </div>
            <div class="col-md-12">
               <h3 class="user-details"><span class="user-details-bottom">User Details</span></h3>
               <div class="col-md-12">
                  &nbsp;
               </div>
               <div class="col-md-12">
                  <table class="table table-bordered table-responsive col-xs-10">
                     <tr class="text-size">
                        <th class="text-center" id ="table-details" rowspan="2">Email</th>
                        <th class="text-center" id="table-details" rowspan="2">Phone</th>
                        <th class="text-center" id="table-details" colspan="2">Check-ins at</th>
                     </tr>
                     <tr>
                        <td class="text-center" >This Outlet</td>
                        <td class="text-center" >All your outlets</td>
                     </tr>
                     <tr>
                        <td class="text-center">rishiag.iitd@gmail.com</td>
                        <td class="text-center">8860377473</td>
                        <td class="text-center">10</td>
                        <td class="text-center">30</td>
                     </tr>
                  </table>
               </div>
            </div>
            <div class="col-md-12">
               &nbsp;
            </div>
            <div class="col-md-12">
               <h3 class="user-details"><span class="user-details-bottom">Feedback Details</span></h3>
               <div>
                  &nbsp;
               </div>
               <ul id="bullet">
                  <li><span>Type: Appreciation / Suggestion / Complaint</span></li>
                  <li><span>Comment: Cool Outlet</span></li>
               </ul>
               <div class="col-md-12 text-size">
                  Please find photos if any in attachments.
               </div>
               <div class="col-md-12 text-center">
                  <br/>
                  <button class="btn btn-lg btn-twyst">
                     <img src="http://www.twyst.in/common/images/click.png" class="click-image">
                     Click here to respond to Customer
                  </button>
                  <div>
                     <br/>
                  </div>
               </div>
            </div>
            <div class="col-md-12 text-size">
               <div>
                  Thank you,
                  <br/>
                  Team Twyst!
               </div>
            </div>
            <div class="col-md-12">
               &nbsp;
               <br/>
            </div>
            <div class="col-md-12 text-size">
               <div> 
                  <img class="click-image" src="http://www.twyst.in/common/images/merchant.png"/> Log in to your account on Twyst: <a href="http://www.twyst.in/merchant">www.twyst.in</a>
                  <br/>
                  <img class="click-image" src="http://www.twyst.in/common/images/web.png"/> Find Biryani Blues on Twyst: <a href="http://www.twyst.in/bb1">http://www.twyst.in/bb1</a>
               </div>
            </div>
            <div class="col-md-12">
               &nbsp;
            </div>
         </div>
      </div>
   </body>
</html>