<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <title>Twyst | Be loved at the places you love!</title>
 
    <!-- Meta -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="loyalty programs, customer retention, foodies, customer relationship management, customer engagement, smartphone app, Android app, Restaurant deals,      Restaurant discounts, Restaurant offers, Cafe deals, Cafe offers, Cafe discounts, Pub deals,     Pub discounts, Pub offers, loyalty rewards, check-in, location-based service, personalization,   recommender system, recommendation algorithm, be loved at the places you love!, Restaurant in gurgaon, Cafes in gurgaon, Pubs in gurgaon, Pizza in gurgaon, Pizza offers, Pizza deals, Pizza discounts">
    <!-- FAVICON -->
     <link rel="icon" href="http://twyst.in/discover/assets/img/twyst.ico">
    <!-- CSS Global Compulsory-->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://twyst.in/discover/assets/css/headers/header1.css">
    <link rel="stylesheet" href="http://twyst.in/discover/assets/css/style.css">
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','http://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-51763503-1', 'twyst.in');
      ga('send', 'pageview');

  </script>    
</head>

<body>
    <!--=== Top ===-->
    <div class="top">
        <div class="container">
            <ul class="loginbar pull-right">
            </ul>
        </div>
    </div>
    <!--/top-->
    <!--=== End Top ===-->

    <!--=== Header ===-->
    <div class="header">
        <style type="text/css">
            /*
            CSS for Header goes here
            */
            .padding-top-100 {
                padding-top: 3.5em;
            }
            .header .navbar-default .navbar-nav > li > a {
                color: #fff !important;
            }
            #logo-header {
                margin-top: 0.2em;
                height: 2.7em;
                width: auto;
            }

            .app-button {
                height: 2.5em;
            }
            .header .navbar {
                background-color: #000 !important;
            }
            .margin-top-pt6em {
                margin-top: -0.8em;
                margin-left: -1em;
            }
            .margin-bottom-about {
                margin-bottom: 5em; 
            }
        </style>
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="http://twyst.in">
                <img id="logo-header" src="http://twyst.in/discover/assets/img/twyst_logo_2.png" alt="Logo">       
              </a>
            </div>


            <!-- Collect the nav links, forms, and other content for toggling -->

            <ul class="nav navbar-nav navbar-right navbar-collapse collapse">
              <li class="margin-top-pt6em hidden-xs hidden-sm" >
                <a href="https://play.google.com/store/apps/details?id=com.twyst.app.android"><img class="app-button" src="http://twyst.in/outlets/assets/img/images/googleplay.png"></a>
              </li>
              <li class="margin-top-pt6em hidden-xs hidden-sm">
                  <a href="https://itunes.apple.com/in/app/twyst.in/id907877732?mt=8&uo=4" target="itunes_store"><img class="app-button" src="http://twyst.in/outlets/assets/img/images/appstore.png"></a>
              </li>
              <li> 
                <a href="http://twyst.in/home">
                  Home
                </a>
              </li>
              <li> 
                <a href="http://twyst.in/discover">
                  Discover
                </a>
              </li>
              <li>
                <a href="http://twyst.in/home/how">
                  How it works
                </a>                       
              </li>

              <li>
                <a href="http://twyst.in/merchant/">
                  For merchants
                </a>
              </li>               

            </ul>
            <div class="search-open">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-btn">
                  <button class="btn-u" type="button">Go</button>
                </span>
              </div><!-- /input-group -->
            </div>                
          </div><!-- /navbar-collapse -->
        </div>    
    </div>
    <!--/header-->
    <div class="row" style="min-height: 25em;">
      <div class="container" style="margin-top: 5em;">
        <div class="col-md-12">
          <h3>{{message}}</h3>
          <a class="btn btn-lg" href="http://twyst.in/discover" style="background:#f6921e;color:white;">Explore</a>
        </div>
      </div>
    </div>

    <!--End Third Slide-->
    <!--=== Footer ===-->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <!-- About -->
                    <div class="headline">
                        <h2>About</h2>
                    </div>
                    <p>Twyst is a start-up based out of Gurgaon, started by a team with a combined experience of 40 years across product, strategy, operations and marketing. <a href="about.html">More</a></p>
                </div>
                    <!--/col-md-4-->

                <div class="col-md-4 col-sm-12 col-xs-12">      

                    <!-- Stay Connected -->
                    <div class="headline">
                        <h2>Follow</h2>
                    </div>
                    <ul class="social-icons">
                        <li>
                            <a href="http://blog.twyst.in" data-original-title="Feed" class="social_rss"></a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/twystin" data-original-title="Facebook" class="social_facebook"></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/twystin" data-original-title="Twitter" class="social_twitter"></a>
                        </li>
                    </ul>
                </div>
                    <!--/col-md-4-->

                <div class="col-md-4 col-sm-12 col-xs-12 connect-margin">
                    <!-- Monthly Newsletter -->
                    

                    <!-- Stay Connected -->
                    <div class="headline">
                        <h2>Connect</h2>
                    </div>
                    <a class="btn btn-warning" href="http://twyst.in/home/contact.html" style="color: white;line-height: 1;">Get in touch</a>
                    <a class="btn btn-warning" href="http://twyst.in/home/careers.html" style="color: white;line-height: 1;">Work with Us</a>
                </div>
                    <!--/col-md-4-->
            </div>
                <!--/row-->
        </div>
            <!--/container-->
    </div>
    <!--/footer-->
    <!--=== End Footer ===-->

    <!--=== Copyright ===-->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="copyright-space">
                        2013 &copy; Twyst Technologies Pvt. Ltd.
                        <a href="http://twyst.in/legal/Privacy_Policy.pdf">Privacy Policy</a> | <a href="http://twyst.in/legal/terms_of_use.pdf">Terms of Service</a>
                    </p>
                </div>
                <div class="col-md-6">
                    <a href="/">
                        <img id="logo-footer" src="http://twyst.in/discover/assets/img/twyst_logo_2.png" class="pull-right" height="39px" width="110px" alt="" />
                    </a>
                </div>
            </div>
            <!--/row-->
        </div>
    </div>
</body>

</html>